<form action="{{ site.simple_search }}" method="get">
    <input class="search" name="query" id="query" type="text" placeholder="search...">
    <input id="btnSubmit" value="search" type="submit">
</form>
<script type="text/javascript">
var query = GetRequest("query");
if (query != null) {
	document.getElementById("query").value = query;
}
</script>

<!-- Start of Site Search 360 Scripts -->
<script type="text/javascript">
var ss360Config = {
    siteId: "abcdxyzk.github.io",
    searchBox: {
        selector: "input#query",
        searchButton: "input#query+input[type='submit']"
    }
}
</script>
<script src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js" async></script>
<!-- End of Site Search 360 Scripts -->

<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
<li>
</li>
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss">RSS</a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.simple_search %}
  {% endif %}
{% include custom/navigation.html %}
